body {
	overflow: hidden;
}

.parallax img {
	position: absolute;
	top: 0;
	right: -10%;
	min-height: 110vh;
	min-width: 110%;
}

@media screen and (max-width: 1060px) {
	.parallax img {
		right: -20%;
	}
}
@media screen and (max-width: 946px) {
	.parallax img {
		right: -30%;
	}
}
@media screen and (max-width: 790px) {
	.parallax img {
		right: -50%;
	}
}
@media screen and (max-width: 600px) {
	.parallax img {
		right: -90%;
	}
	#planet_layer {
		right: -130%;
	}
}
